.boton-chat-ia {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: rgba(0, 191, 255, 0.9);
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.4);
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease;
}

/* Imagen del ícono */
.boton-chat-ia img {
  width: 60%;
  height: 60%;
  filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.7));
}

/* Tooltip oculto por defecto */
.mensaje-chat {
  position: absolute;
  bottom: 85px; /* encima del botón */
  right: 0;
  background: rgba(0, 191, 255, 0.95);
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 10px;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
}

/* Flechita del tooltip */
.mensaje-chat::after {
  content: "";
  position: absolute;
  bottom: -6px;
  right: 20px;
  border-width: 6px;
  border-style: solid;
  border-color: rgba(0, 191, 255, 0.95) transparent transparent transparent;
}

/* Mostrar al pasar el mouse */
.boton-chat-ia:hover .mensaje-chat {
  opacity: 1;
  transform: translateY(0);
}



